* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #0d0c0e;
    color1:     #5D5E7C;
    color2:     #176E8E;
    color3:     #576C8B;
    color4:     #A86E87;
    color5:     #308BA8;
    color6:     #549CB4;
    color7:     #acd1db;
    color8:     #789299;
    color9:     #5D5E7C;
    color10:    #176E8E;
    color11:    #576C8B;
    color12:    #A86E87;
    color13:    #308BA8;
    color14:    #549CB4;
    color15:    #acd1db;
}
